.login-page html, 
.login-page body {
    height: 100%;
    overflow: hidden;
}

.login-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;
}

.login-page .section1 {
    padding: 0 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page div {
    padding: 0.5rem;
}

.login-page h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

.login-page form {
    margin: 2vh 0;
}

.login-page p.login-field {
    margin: 1.5vh 0;
    
}

.login-page input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.login-page p.login-field input {
    background-color: #F7FBFF;
    border: solid #D4D7E3;
}

.login-page .pwd-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.login-page #show-pwd {
    position: absolute;
    right: 1rem;
    color: #A0A0A0;
    cursor: pointer;
    z-index: 1;
}

.login-page a {
    color: #1E4AE9;
    margin: 2vh 0;
}

.login-page #forgot {
    float: right;
}

.login-page .center {
    text-align: center;
}

.login-page input.center {
    background-color: #162D3A;
    color:#F7FBFF;
}

.login-page #or {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page #or hr {
    width: 40%;
    height: min-content;
}

.login-page p.center {
    margin: 3vh 0;
}

.login-page #copyright {
    color: #959CB6;
}

.login-page .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1050px) and (orientation: portrait) {
    .login-page {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        background-image: url("../../assets/images/pasta.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .login-page .section1 {
        padding: 2vh 4vw;
        background-color: rgba(254, 250, 224, 0.85); /* don't know how to do this using the global color var */
    }

    .login-page .section2 {
        display: none;
    }
}

@media screen and (max-width: 1050px) and (orientation: landscape) {
    .login-page .section1 {
        padding: 2vh 4vw;
    }
}