.app__recipes-page {
  padding: 0 5rem;
}

.dropdowns-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.sub-text {
  color: var(--color-text);
}

@media screen and (max-width: 1023px) {
  .app__recipes-page {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 767px) {
  .app__recipes-page {
    padding: 0 1.5rem;
  }
}
