.contact-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact-page p {
  margin-top: 1rem;
}

.contact-page h1 {
  font-weight: bold;
  font-size: xx-large;
}
