.search-section {
  background-image: url("../../assets/images/pizza.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
}

.recipe-of-week-section {
  display: flex;
  flex-direction: row;
  height: 18rem;
  overflow: hidden;
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
}

.recipe-of-week-section img {
  object-fit: cover;
}

.recipe-of-week-section .left-side {
  flex: 1.5;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-of-week-section .right-side {
  position: relative;
  flex: 1;
  border-radius: 9px;
}

.left-side button {
  width: 60%;
  margin-top: 1.5rem;
}

.right-side img {
  max-width: 12rem;
  position: absolute;
  border: 2px brown solid;
  border-radius: 10px;
}

.right-side .img1 {
  left: 6rem;
  z-index: 1;
}

.right-side .img2 {
  top: 1rem;
  transform: rotate(-10deg);
}

.right-side .img3 {
  left: 7.5rem;
  top: 6rem;
  z-index: 3;
}

.right-side .img4 {
  height: 6rem;
  top: 7rem;
  left: 4rem;
  transform: rotate(6deg);
}

.right-side .img5 {
  left: 14rem;
  top: 7rem;
  z-index: 1;
}

.right-side .img6 {
  height: 10rem;
  left: 18rem;
  top: 1rem;
}

@media screen and (max-width: 1050px) {
  .recipe-of-week-section .left-side {
    flex: 1;
  }
}

@media screen and (max-width: 850px) {
  .recipe-of-week-section {
    justify-content: center;
    align-items: center;
    height: 12rem;
  }

  .recipe-of-week-section .right-side {
    display: none;
  }
}
