.signin-page html, 
.signin-page body {
    height: 100%;
    overflow: hidden;
}

.signin-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.signin-page .section1 {
    padding: 0 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-page div {
    padding: 1.5vh;
}

.signin-page h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

.signin-page p.signin-field {
    margin: 1.5vh 0;
}

.signin-page input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.signin-page p.signin-field input {
    background-color: #F7FBFF;
    border: solid #D4D7E3;
}

.signin-page .center {
    text-align: center;
}

.signin-page input.center {
    background-color: #007074;
    color: #F7FBFF;
    border: none;
    margin: 2vh 0;
}

.signin-page a {
    color: #007074;
    font-weight: bold;
}

.signin-page #subscribe {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.signin-page #news-letter {
    width: initial;
}

.signin-page .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}