.signup-page html, 
.signup-page body {
    height: 100%;
    overflow: hidden;
}

.signup-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;
}

.signup-page .section1 {
    padding: 0 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page div {
    padding: 0.5rem;
}

.signup-page h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

.signup-page p.signup-field {
    margin: 1.5vh 0;
}

.signup-page input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.signup-page p.signup-field input {
    background-color: #F7FBFF;
    border: solid #D4D7E3;
}

.signup-page .pwd-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.signup-page .show-pwd {
    position: absolute;
    right: 1rem;
    color: #A0A0A0;
    cursor: pointer;
    z-index: 1;
}

.signup-page .center {
    text-align: center;
}

.signup-page input.center {
    background-color: #007074;
    color: #F7FBFF;
    border: none;
    margin: 2vh 0;
}

.signup-page a {
    color: #007074;
    font-weight: bold;
}

.signup-page #subscribe {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.signup-page #news-letter {
    width: initial;
}

.signup-page .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1050px) and (orientation: portrait) {
    .signup-page {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        background-image: url("../../assets/images/pasta.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .signup-page .section1 {
        padding: 2vh 4vw;
        background-color: rgba(254, 252, 224, 0.85);
    }

    .signup-page .section2 {
        display: none;
    }
}

@media screen and (max-width: 1050px) and (orientation: landscape) {
    .signup-page .section1 {
        padding: 2vh 3vw;
    }

    .signup-page h1 {
        font-size: x-large;
    }
}