.dropdown {
  background-color: var(--color-secondary);
  flex: 1;
  height: max-content;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border: 1px black solid;
  padding: 0.5rem 1rem;
}

.dropdown-content {
  border: 1px black solid;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.6s ease;
}

.dropdown-item {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
  align-items: center;
}

.dropdown-content-active {
  padding: 0.5rem 1rem;
  opacity: 1;
  max-height: 500px;
}

.dropdown-item input[type="checkbox"] {
  margin: 0;
  transform: scale(1.3);
}
